<div class="layout">


<app-sidebar></app-sidebar>

<main class="main-content">
  <div class="page">

    <h1>Consultations</h1>

    <div class="content-grid">

      <section class="form-card">
        <h2>New Consultation</h2>

        <select [(ngModel)]="form.doctorId" [disabled]="editingId !== null" (change)="onDoctorChange()">
          <option value="">Select doctor</option>

          <option *ngFor="let doctor of doctors" [value]="doctor.id">
            Dr. {{ doctor.firstName }} {{ doctor.lastName }}
          </option>
        </select>

        <select
          [(ngModel)]="form.patientId"
          (change)="loadConsultationsForPatient()"
          [disabled]="!form.doctorId || editingId !== null"
        >
          <option value="">Select patient</option>

          <option *ngFor="let patient of filteredPatients" [value]="patient.id">
            {{ patient.firstName }} {{ patient.lastName }}
          </option>
        </select>

        <textarea placeholder="Symptoms" [(ngModel)]="form.symptoms"></textarea>
        <textarea placeholder="Diagnosis" [(ngModel)]="form.diagnosis"></textarea>
        <textarea placeholder="Treatment" [(ngModel)]="form.treatment"></textarea>
        <textarea placeholder="Recommendations" [(ngModel)]="form.recommendations"></textarea>

        <button (click)="saveConsultation()">
          {{ editingId ? 'Update Consultation' : 'Save Consultation' }}
        </button>
      </section>

      <section class="table-card" *ngIf="form.doctorId && form.patientId">

        <h2>Consultation History</h2>

        <div class="consultation-list">

          <div
            class="consultation-card"
            *ngFor="let consultation of consultations"
          >
            <div class="consultation-header"
                (click)="toggleConsultation(consultation.id)">

              <div class="header-left">
                <strong>{{ consultation.diagnosis }}</strong>
              </div>

              <div class="header-right">
                {{ consultation.createdAt | date:'dd/MM/yyyy HH:mm' }}
              </div>

            </div>

            <div
              class="consultation-body"
              *ngIf="openConsultationId === consultation.id"
            >
                <div class="consultation-date">
                  {{ consultation.createdAt | date:'dd/MM/yyyy HH:mm' }}
                </div>

                <div class="section">
                  <strong>Patient</strong>
                  <p>{{ getPatientName(consultation.patientId) }}</p>
                </div>

                <div class="section">
                  <strong>Doctor</strong>
                  <p>{{ getDoctorName(consultation.doctorId) }}</p>
                </div>

                <div class="section">
                  <strong>Symptoms</strong>
                  <p>{{ consultation.symptoms }}</p>
                </div>

                <div class="section">
                  <strong>Diagnosis</strong>
                  <p>{{ consultation.diagnosis }}</p>
                </div>

                <div class="section">
                  <strong>Treatment</strong>
                  <p>{{ consultation.treatment }}</p>
                </div>

                <div class="section">
                  <strong>Recommendations</strong>
                  <p>{{ consultation.recommendations }}</p>
                </div>
            </div>

            <div class="card-actions">

              <button
                class="edit-btn"
                (click)="editConsultation(consultation)"
              >
                Edit
              </button>

              <button
                class="delete-btn"
                (click)="deleteConsultation(consultation.id)"
              >
                Delete
              </button>

            </div>

          </div>

        </div>

        <p
          class="empty-message"
          *ngIf="form.patientId && consultations.length === 0"
        >
          This patient has no consultation history.
        </p>

      </section>

    </div>

  </div>
</main>
</div>
