<div class="layout">

  <app-sidebar></app-sidebar>

  <main class="main-content">
    <div class="page">

      <h1>Billing</h1>

      
      <div class="stats-grid">

        <div class="stat-card revenue">
          <h4>Total Revenue</h4>
          <h2>{{ revenue | number }} RON</h2>
        </div>

        <div class="stat-card paid-bill">
          <h4>Paid Bills</h4>
          <h2>{{ paidCount }}</h2>
        </div>

        <div class="stat-card unpaid-bill">
          <h4>Unpaid Bills</h4>
          <h2>{{ unpaidCount }}</h2>
        </div>

        <div class="stat-card cancelled-bill">
          <h4>Cancelled Bills</h4>
          <h2>{{ cancelledCount }}</h2>
        </div>

      </div>

      <div class="content-grid">

        <section class="form-card">
          <h2>Create Billing</h2>

          <select [(ngModel)]="form.doctorId" (change)="onDoctorChange()">
            <option value="">Select doctor</option>
            <option *ngFor="let doctor of doctors" [value]="doctor.id">
              Dr. {{ doctor.firstName }} {{ doctor.lastName }}
            </option>
          </select>

          <select
            [(ngModel)]="form.patientId"
            (change)="loadConsultationsForPatient()"
            [disabled]="!form.doctorId"
          >
            <option value="">Select patient</option>
            <option *ngFor="let patient of filteredPatients" [value]="patient.id">
              {{ patient.firstName }} {{ patient.lastName }}
            </option>
          </select>

          <select
            [(ngModel)]="form.consultationId"
            [disabled]="!form.patientId || consultations.length === 0"
          >
            <option value="">Select consultation</option>
            <option *ngFor="let consultation of consultations" [value]="consultation.id">
              {{ consultation.createdAt | date:'dd/MM/yyyy HH:mm' }} - {{ consultation.diagnosis }}
            </option>
          </select>

          <input placeholder="Service name" [(ngModel)]="form.serviceName">

          <input type="number" placeholder="Price" [(ngModel)]="form.price">

          <button (click)="saveBilling()">Save Billing</button>
        </section>

        <section class="table-card">
          <h2>Billing Records</h2>
          <div class="table-scroll">
            <table>
              <thead>
                <tr>
                  <th>Patient</th>
                  <th>Doctor</th>
                  <th>Service</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let billing of billings">
                  <td>{{ getPatientName(billing.patientId) }}</td>
                  <td>{{ getDoctorName(billing.doctorId) }}</td>
                  <td>{{ billing.serviceName }}</td>
                  <td>{{ billing.price | number:'1.0-0' }} RON</td>

                  <td>
                    <select
                      class="status-select"
                      [(ngModel)]="billing.status"
                      (change)="updateStatus(billing.id, billing.status)"
                      [ngClass]="{
                        'paid-select': billing.status === 'PAID',
                        'unpaid-select': billing.status === 'UNPAID',
                        'cancelled-select': billing.status === 'CANCELLED'
                      }"
                    >
                      <option value="UNPAID">UNPAID</option>
                      <option value="PAID">PAID</option>
                      <option value="CANCELLED">CANCELLED</option>
                    </select>
                  </td>
                  <td>
                    <button
                      class="delete-btn"
                      (click)="deleteBilling(billing.id)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
           </div> 
        </section>
      

      </div>

    </div>
  </main>
</div>
